/* Define color variables at the root */
:root {
    --primary-color: #C07F00; /* Deep Emerald Green */
    --secondary-color: #FFD700; /* Rich Gold */
    --accent-color: #FFF5E1; /* Cream */
    --text-color: #4B2E2E; /* Dark Brown */
    --background-color: #252627; /* Dark Gray */
    --gold-text: #e2b263; /* Light Gold */
    --hover-primary-color: #624305; /* Slightly darker Emerald */
    --hover-secondary-color: #3e1f1f; /* Slightly darker Brown */
    --hover-success-color: #e6c200; /* Slightly darker Gold */
}

/* Body styles */
body {
    padding-top: 45px;
    color: var(--gold-text); /* Light Gold text color */
    background-color: var(--background-color); /* Dark Gray background */
    height: 100vh;
}
hr {
    border-top: 1px solid var(--gold-text);
}
/* Background image */
.background-image {
    background-image: url('mosq1.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    position: fixed;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    z-index: -1;
}

/* Container styles */
.container {
    background: rgba(37, 38, 39, 0.7); /* Dark Gray with higher alpha */
    backdrop-filter: blur(2px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    color: var(--gold-text); /* Light Gold text color for better visibility */
}

/* Form group */
.form-group {
    margin-bottom: 20px;
}

/* Label styles */
label {
    font-weight: bold;
    text-transform: capitalize;
    color: var(--gold-text); /* Light Gold */
}

/* Button styles */
.btn-primary {
    margin-top: 20px;
    background-color:rgb(192, 127, 0); 
    border: none;
    color: var(--accent-color); 
    text-transform: uppercase;
    font-weight: bold;
}

.btn-primary:hover {
    background-color: var(--hover-primary-color); /* Slightly darker Emerald */
}

.btn-secondary {
    background-color: var(--text-color); /* Dark Brown */
    border: none;
    color: var(--gold-text);
    margin-top: 20px;
    border-radius: 5px;
    font-weight: bold;
    text-transform: uppercase;
}

.btn-secondary:hover {
    background-color: var(--hover-secondary-color); /* Slightly darker Brown */
}

.btn-success {
    background-color: var(--secondary-color) !important; /* Rich Gold */
    border: none;
    color: var(--background-color); /* Dark Gray text */
}

.btn-success:hover {
    background-color: var(--hover-success-color); /* Slightly darker Gold */
}

/* Checkbox styles */
.checkbox-container {
    display: flex;
    align-items: center;
    cursor: pointer;
    margin-bottom: 10px;
}

.program-checkbox {
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
}

.checkbox-custom {
    display: inline-block;
    width: 16px;
    height: 16px;
    background-color: var(--accent-color); /* Default background color */
    border: 2px solid var(--text-color); /* Default border color */
    margin-right: 8px;
    opacity: 0.7;
    transform: scale(1.1);
    position: relative;
    transition: background-color 0.3s, border-color 0.3s;
    vertical-align: middle;
}

.checkbox-custom::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 8px;
    height: 14px;
    border: solid var(--text-color); /* Checkmark color */
    border-width: 0 2px 2px 0;
    transform: translate(-50%, -50%) rotate(45deg) scale(0);
    transition: transform 0.3s;
}

.program-checkbox:checked + .checkbox-custom {
    background-color: var(--secondary-color) !important; /* Rich Gold */
    border-color: var(--secondary-color) !important; /* Rich Gold */
}

.program-checkbox:checked + .checkbox-custom::after {
    transform: translate(-50%, -50%) rotate(45deg) scale(1);
}

/* Input styles */
input {
    background-color: transparent;
    font-weight: bold;
    border: 1px solid var(--secondary-color); /* Deep Emerald Green border */
    color: var(--gold-text); /* Light Gold text color */
}

/* Confirmation box */
#confirmationBox {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--accent-color);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    display: none;
    z-index: 1000;
    color: var(--background-color);
    border-left: var(--gold-text) 25px solid;
}

/* Thank you message */
#thankYouMessage {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--accent-color);
    color: var(--background-color);
    padding: 20px;
    border-radius: 20px;
    text-align: center;
    box-shadow: 0 0 10px rgba(248, 248, 248, 0.523);
    margin-top: 20px;
    display: none;
    border-top: var(--background-color) 25px solid;
}

/* Warning messages */
.cute-warning {
    background-color: #c0392b;
    color: var(--accent-color);
    border-radius: 5px;
    padding: 10px 20px;
    text-align: center;
    font-weight: bold;
    letter-spacing: 2px;
    font-size: 16px;
    margin-top: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease-in-out;
}

/* Input and Select fields */
.styled-input {
    width: 100%;
    border: 2px solid var(--primary-color);
    border-radius: 5px;
    background-color: var(--accent-color);
    color: var(--text-color);
    font-size: 16px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    outline: none;
    transition: border-color 0.3s ease;
}

.styled-input::placeholder {
    color: var(--text-color);
}

.styled-input:focus {
    border-color: var(--secondary-color);
}

.styled-select {
    width: 100%;
    border: 2px solid var(--primary-color);
    border-radius: 5px;
    background-color: var(--accent-color);
    color: var(--text-color);
    font-size: 16px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    outline: none;
    appearance: none;
    transition: border-color 0.3s ease;
}

.styled-select:focus {
    border-color: var(--secondary-color);
}

.styled-select option {
    background-color: var(--accent-color);
    color: var(--text-color);
}
