/* style.css */

/* Body styles */
body {
    color: #e2b263; /* Light Gold text color */
    background-color: #252627; /* Dark Gray background for the body */
}
hr{
    border-top: 1px solid #e2b263;
}
/* Background image */
.background-image {
    background-image: url('mosq1.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    position: fixed;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    z-index: -1;
}

/* Container styles */
.container {
    background: rgba(37, 38, 39, 0.7); /* Dark Gray with higher alpha */
    backdrop-filter: blur(2px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    color: #e2b263; /* Light Gold text color for better visibility on Dark Gray background */
}

/* Form group */
.form-group {
    margin-bottom: 20px;
}

/* Label styles */
label {
    font-weight: bold;
    text-transform: capitalize;
    color: #e2b263; /* Light Gold */
}

/* Button styles */
.btn-primary {
    margin-top: 20px;
    background-color: #C07F00; 
    border: none;
    color: #FFF7D4; 
    text-transform: uppercase;
    font-weight: bold;
}

.btn-primary:hover {
    background-color: #624305 /* Slightly darker shade of Deep Emerald Green */
}

.btn-secondary {
    background-color: #4B2E2E; /* Dark Brown */
    border: none;
    color: #e2b263;
    margin-top: 20px;
    border-radius: 5px;
    font-weight: bold;
    text-transform: uppercase;
}

.btn-secondary:hover {
    background-color: #3e1f1f; /* Slightly darker shade of Dark Brown */
}

.btn-success {
    background-color: #FFD700 !important; /* Rich Gold */
    border: none;
    color: #252627; /* Dark Gray text color */
}

.btn-success:hover {
    background-color: #e6c200; /* Slightly darker shade of Rich Gold */
}

.checkbox-container {
    display: flex;
    align-items: center;
    cursor: pointer;
    margin-bottom: 10px; /* Space between checkboxes */
}

.program-checkbox {
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
}

.checkbox-custom {
    display: inline-block;
    width: 16px; /* Reduced width */
    height: 16px; /* Reduced height */
    background-color: #FFF5E1; /* Default background color */
    border: 2px solid #4B2E2E; /* Default border color */
    margin-right: 8px; /* Reduced margin */
    opacity: 0.7;
    transform: scale(1.1); /* Slightly reduced scale */
    position: relative;
    transition: background-color 0.3s, border-color 0.3s;
    vertical-align: middle;
}

.checkbox-custom::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 8px; /* Reduced width */
    height: 14px; /* Reduced height */
    border: solid #4B2E2E; /* Checkmark color */
    border-width: 0 2px 2px 0;
    transform: translate(-50%, -50%) rotate(45deg) scale(0);
    transition: transform 0.3s;
}

.program-checkbox:checked + .checkbox-custom {
    background-color: #FFD700 !important; /* Rich Gold */
    border-color: #FFD700 !important; /* Rich Gold */
}

.program-checkbox:checked + .checkbox-custom::after {
    transform: translate(-50%, -50%) rotate(45deg) scale(1);
}


/* Input styles */
input {
    background-color: transparent; /* Transparent background */
    font-weight: bold;
    border: 1px solid #004D26; /* Deep Emerald Green border */
    color: #e2b263; /* Light Gold text color */
}

/* Confirmation box */
#confirmationBox {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #FFF7D4; /* Dark Gray background */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    display: none;
    z-index: 1000;
    color: #252627; /* Light Gold text color */
    border-left: #e2b263 25px solid;
    /* border-top: #252627 15px solid; */
}

/* Confirmation data */
#confirmationData {
    margin-top: 10px;
}

/* Thank you message */
#thankYouMessage {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #FFF7D4; /* Deep Emerald Green */
    color: #252627; /* Light Gold text color */
    padding: 20px;
    border-radius: 20px;
    text-align: center;
    box-shadow: 0 0 10px rgba(248, 248, 248, 0.523);
    margin-top: 20px;
    display: none;
    border-top: #252627 25px solid ;
    /* border-bottom: #252627 25px solid ; */
}

/* Warning messages */
.cute-warning {
    background-color: #c0392b; /* Rich Gold */
    color: #FFF7D4; /* Dark Gray text color */
    border-radius: 5px;
    padding: 10px 20px;
    text-align: center;
    font-weight: bold;
    letter-spacing: 2px;
    font-size: 16px;
    margin-top: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease-in-out;
}

/* fjkhdkfhjksdfjkhsdfhsdjkfhsdjk */

.styled-input {
    width: 100%;

    border: 2px solid #004D26; /* Deep Emerald Green border */
    border-radius: 5px;
    background-color: #FFF5E1; /* Cream background for input */
    color: #4B2E2E; /* Dark Brown text */
    font-size: 16px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    outline: none;
    transition: border-color 0.3s ease;
}

.styled-input::placeholder {
    color: #4B2E2E; /* Dark Brown placeholder text */
}

.styled-input:focus {
    border-color: #FFD700 ; /* Rich Gold border on focus */
}

.styled-select {
    width: 100%;
    border: 2px solid #004D26; /* Deep Emerald Green border */
    border-radius: 5px;
    background-color: #FFF5E1; /* Cream background for select */
    color: #4B2E2E; /* Dark Brown text */
    font-size: 16px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    outline: none;
    appearance: none; /* Remove default styling */
    transition: border-color 0.3s ease;
}

.styled-select:focus {
    border-color: #FFD700; /* Rich Gold border on focus */
}

.styled-select option {
    background-color: #FFF5E1; 
    color: #4B2E2E; /* Dark Brown text */
}

.styled-select option:hover{
    background-color: #252627;
}